<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>展覽</string>
		<array>
			<array>
				<string>書畫展</string>
				<integer>1</integer>
			</array>
			<array>
				<string>攝影展</string>
				<integer>2</integer>
			</array>
			<array>
				<string>設計展</string>
				<integer>3</integer>
			</array>
			<array>
				<string>雕塑展</string>
				<integer>4</integer>
			</array>
			<array>
				<string>數位影像展</string>
				<integer>5</integer>
			</array>
			<array>
				<string>建築工藝展</string>
				<integer>6</integer>
			</array>
			<array>
				<string>裝置藝術展</string>
				<integer>7</integer>
			</array>
			<array>
				<string>文物展</string>
				<integer>8</integer>
			</array>
			<array>
				<string>常設展</string>
				<integer>9</integer>
			</array>
			<array>
				<string>國際展</string>
				<integer>10</integer>
			</array>
			<array>
				<string>工商展</string>
				<integer>11</integer>
			</array>
		</array>
	</array>
	<array>
		<string>表演</string>
		<array>
			<array>
				<string>戲劇表演</string>
				<integer>21</integer>
			</array>
			<array>
				<string>舞蹈表演</string>
				<integer>22</integer>
			</array>
			<array>
				<string>特技表演</string>
				<integer>23</integer>
			</array>
		</array>
	</array>
</array>
</plist>
