<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>北台灣</string>
		<array>
			<array>
				<string>台北市</string>
				<integer>28</integer>
				<string>taipei.png</string>
			</array>
			<array>
				<string>新北市</string>
				<integer>30</integer>
				<string>newTaipei.png</string>
			</array>
			<array>
				<string>基隆市</string>
				<integer>29</integer>
				<string>keelung.png</string>
			</array>
			<array>
				<string>宜蘭縣</string>
				<integer>31</integer>
				<string>yilan.png</string>
			</array>
			<array>
				<string>桃園縣</string>
				<integer>34</integer>
				<string>taoyuan.png</string>
			</array>
			<array>
				<string>新竹市</string>
				<integer>32</integer>
				<string>hsinchuCity.png</string>
			</array>
			<array>
				<string>新竹縣</string>
				<integer>33</integer>
				<string>hsinchuCounty.png</string>
			</array>
		</array>
	</array>
	<array>
		<string>中台灣</string>
		<array>
			<array>
				<string>苗栗縣</string>
				<integer>35</integer>
				<string>miaoli.png</string>
			</array>
			<array>
				<string>台中市</string>
				<integer>36</integer>
				<string>taichung.png</string>
			</array>
			<array>
				<string>彰化縣</string>
				<integer>38</integer>
				<string>changhua.png</string>
			</array>
			<array>
				<string>南投縣</string>
				<integer>39</integer>
				<string>nantou.png</string>
			</array>
			<array>
				<string>雲林縣</string>
				<integer>42</integer>
				<string>yunlin.png</string>
			</array>
		</array>
	</array>
	<array>
		<string>南台灣</string>
		<array>
			<array>
				<string>嘉義市</string>
				<integer>40</integer>
				<string>chiayiCity.png</string>
			</array>
			<array>
				<string>嘉義縣</string>
				<integer>41</integer>
				<string>chiayiCounty.png</string>
			</array>
			<array>
				<string>台南市</string>
				<integer>43</integer>
				<string>tainan.png</string>
			</array>
			<array>
				<string>高雄市</string>
				<integer>45</integer>
				<string>kaohsiung.png</string>
			</array>
			<array>
				<string>屏東縣</string>
				<integer>48</integer>
				<string>pingtung.png</string>
			</array>
		</array>
	</array>
	<array>
		<string>東台灣</string>
		<array>
			<array>
				<string>花蓮縣</string>
				<integer>50</integer>
				<string>hualien.png</string>
			</array>
			<array>
				<string>台東縣</string>
				<integer>49</integer>
				<string>taitung.png</string>
			</array>
		</array>
	</array>
	<array>
		<string>外離島</string>
		<array>
			<array>
				<string>澎湖縣</string>
				<integer>47</integer>
				<string>penghu.png</string>
			</array>
			<array>
				<string>金門縣</string>
				<integer>51</integer>
				<string>kinmen.png</string>
			</array>
			<array>
				<string>連江縣</string>
				<integer>52</integer>
				<string>lienchiang.png</string>
			</array>
		</array>
	</array>
</array>
</plist>
